html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background: #6837fa;
  padding: 1em;
  color: #ffff;
}

.navbar a {
  text-decoration: none;
}

.navbar .s-logo img {
  width: 66.38px;
  height: 79.26px;
}

.navbar .s-logo span {
  font-weight: 600;
  font-size: 39px;
  min-height: 46px;
  min-width: 199px;
  color: #ffff;
}

.navbar ul.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffff;
  place-content: flex-end;
  margin-top: -20px;
}

.navbar ul.header .register {
  background: #572bd9;
  min-width: 182px;
  min-height: 60px;
  border-radius: 10px;
  padding: 15px 44px 15px 44px;
}

.navbar ul.header li {
  list-style: none;
  cursor: pointer;
}

.navbar ul.header li a {
  padding: 1.5em;
  color: white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: block;
}

.first {
  margin: 8em;
}

.subhead {
  text-align: center;
  font-weight: 300;
  font-size: 64px;
  margin-bottom: -6px;
}

p {
  text-align: center;
  margin-bottom: 51px;
}

img.laptop {
  margin: 60px 15px auto 25px;
}

.button-container {
  margin-top: 1em;
  margin: 0 auto;
  text-align: center;
}

.button-container .get-it-now {
  margin-right: 22px;
}

.button-container .play-video {
  margin-left: 22px;
}

.play-video {
  background: #572bd9;
  margin-left: 22px;
}

.get-it-now {
  background: #ffdd33;
  margin-right: 22px;
}

.main-button {
  min-height: 68px;
  min-width: 222px;
  letter-spacing: 0.94px;
  line-height: 24px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 16px 36px;
}

.second-section {
  background: #fbfcfe;
  text-align: center;
}

.second-section .second-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.second-section .why-us {
  margin: 16px;
  height: 431px;
  width: 414px;
  background: #fbfcfe;
}

.second-section .why-us.active {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(36, 38, 114, 0.89);
          box-shadow: 0px 20px 40px 0px rgba(36, 38, 114, 0.89);
}

.second-section .why-us .why-us-content {
  padding: 32px;
  background: #ffffff;
  margin: 0 -13px 0 -7px;
  border-radius: 20px;
}

.second-section .why-us .why-us-content .why-us-img {
  text-align: left;
  width: 38.86px;
  height: 38.86px;
  margin-bottom: -49px;
  margin-top: 25px;
}

.second-section .why-us .why-us-content .why-us-desc {
  text-align: left;
}

.second-section .why-us .why-us-content .why-us-desc h6 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: initial;
  min-width: 198px;
  min-height: 30;
}

.second-section .why-us .why-us-content .why-us-desc p {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  min-width: 229px;
  min-height: 94px;
}

.third-section .img-box {
  width: 812px;
  height: 583px;
  border-radius: 20px;
  margin-left: -248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-section .structure {
  display: block;
}

.third-section .structure h6 {
  line-height: 77px;
  letter-spacing: 0;
  min-width: 587px;
  min-height: 64px;
  font-size: 36px;
  font-weight: 600;
}

.third-section .structure p {
  line-height: 32px;
  letter-spacing: 0;
  min-width: 564px;
  min-height: 116px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.fourth-section {
  background: #6837fa;
  position: relative;
  height: 629px;
}

.fourth-section .top-purple-curve {
  height: 400px;
  background-color: #5b2aee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.fourth-section .bottom-white-curve {
  height: 100px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.fourth-section .container {
  position: relative;
  color: #fff;
  text-align: center;
  width: 734px;
  height: 312px;
}

.fourth-section .container .content-tittle {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: -6px;
}

.fifth-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fifth-section .container .first-content {
  margin-left: 100px;
}

.fifth-section .container .first-content h6 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 0;
  min-width: 565px;
  min-height: 64px;
  text-align: left;
  margin-left: 145px;
}

.fifth-section .container .first-content .task-list li {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
  margin-left: 130px;
  list-style-type: none;
  padding: 30px;
  position: relative;
}

.fifth-section .container .first-content .task-list li::before {
  content: "";
  left: -3em;
  position: absolute;
  width: 56px;
  height: 54px;
  background-image: url("../images/check.png");
  background-size: contain;
  margin-right: 0.5em;
  margin-top: -9px;
}

.fifth-section .container .first-content .button-a {
  margin-top: 113px;
  margin-left: 126px;
}

.fifth-section .container .first-content .rectangular-box {
  width: 820px;
  height: 583px;
  border-radius: 20px;
}

.testimonials-section .star-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-section .star-container .star {
  width: 19px;
  height: 19px;
  margin: 6px;
}

.testimonials-section .third-container {
  text-align: center;
}

.testimonials-section .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-section .container ul li {
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  list-style-type: none;
}

.testimonials-section .container ul li img {
  width: 5em;
  height: 5em;
  border: 5px;
  border-radius: 50%;
  margin-top: -4.5em;
}
/*# sourceMappingURL=main.css.map */