html,
body {
  height: 100%;
  width: 100%;
  min-width: 1920px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  padding: 1em;
  color: #ffff;
  background: #6837fa;
}

.navbar a {
  text-decoration: none;
}

.navbar .s-logo img {
  width: 66.38px;
  height: 79.26px;
}

.navbar .s-logo span {
  font-weight: 600;
  font-size: 39px;
  min-height: 46px;
  min-width: 199px;
  color: #ffff;
}

.navbar ul.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffff;
  place-content: flex-end;
  margin-top: -20px;
}

.navbar ul.header .register {
  background: #572bd9;
  min-width: 182px;
  min-height: 60px;
  border-radius: 10px;
  padding: 15px 44px 15px 44px;
}

.navbar ul.header li {
  list-style: none;
  cursor: pointer;
}

.navbar ul.header li a {
  padding: 1.5em;
  color: white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: block;
}

.first {
  margin-top: -54px;
  background: #6837fa;
  color: #fff;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  min-width: 1900px;
  min-height: 854px;
}

.first .subhead-desc {
  padding: 5px;
  margin-top: -80px;
}

.subhead {
  text-align: center;
  font-weight: 300;
  font-size: 64px;
  margin-bottom: -6px;
  min-width: 871px;
  min-height: 64px;
  padding: 100px;
}

p {
  text-align: center;
  margin-bottom: 51px;
}

.laptop {
  padding: 50px;
  text-align: center;
  margin-top: -500px;
}

.inkyy {
  text-align: center;
  margin-top: -205px;
  padding: 50px;
}

.button-container {
  margin-top: 1em;
  margin: 0 auto;
  text-align: center;
}

.button-container .get-it-now {
  margin-right: 22px;
}

.button-container .play-video {
  margin-left: 22px;
}

.play-video {
  background: #572bd9;
  margin-left: 22px;
}

.get-it-now {
  background: #ffdd33;
  margin-right: 22px;
}

.free-trial {
  background: #572bd9;
}

.main-button {
  min-height: 68px;
  min-width: 222px;
  letter-spacing: 0.94px;
  line-height: 24px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 16px 36px;
}

.second-section {
  background: #fbfcfe;
  text-align: center;
}

.second-section .why-us-subhead {
  padding: 50px;
  font-size: 64px;
  font-weight: 400;
  min-width: 462px;
  min-height: 64px;
  letter-spacing: 0;
  line-height: 77px;
}

.second-section .why-us-subhead-desc {
  font-size: 20px;
  font-weight: 300;
  min-width: 584px;
  min-height: 52px;
  letter-spacing: 0;
  line-height: 32px;
  color: #7e92ac;
}

.second-section .second-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 1000px;
  min-width: 1920px;
}

.second-section .why-us {
  margin: 16px;
  height: 431px;
  width: 414px;
  background: #fbfcfe;
}

.second-section .why-us.active {
  -webkit-box-shadow: 0px 20px 40px 0px rgba(36, 38, 114, 0.89);
          box-shadow: 0px 20px 40px 0px rgba(36, 38, 114, 0.89);
}

.second-section .why-us .why-us-content {
  padding: 32px;
  background: #ffffff;
  margin: 0 -13px 0 -7px;
  border-radius: 20px;
}

.second-section .why-us .why-us-content .why-us-img {
  text-align: left;
  width: 38.86px;
  height: 38.86px;
  margin-bottom: -49px;
  margin-top: 25px;
}

.second-section .why-us .why-us-content .why-us-desc {
  text-align: left;
}

.second-section .why-us .why-us-content .why-us-desc h6 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: initial;
  min-width: 198px;
  min-height: 30;
}

.second-section .why-us .why-us-content .why-us-desc p {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  min-width: 229px;
  min-height: 94px;
}

.third-section .img-box {
  width: 812px;
  height: 583px;
  border-radius: 20px;
  margin-left: -248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-section .structure {
  display: block;
}

.third-section .structure h6 {
  line-height: 77px;
  letter-spacing: 0;
  min-width: 587px;
  min-height: 64px;
  font-size: 36px;
  font-weight: 600;
}

.third-section .structure p {
  line-height: 32px;
  letter-spacing: 0;
  min-width: 564px;
  min-height: 116px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.fourth-section {
  background: #6837fa;
  position: relative;
  height: 629px;
}

.fourth-section .top-purple-curve {
  height: 400px;
  background-color: #5b2aee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.fourth-section .bottom-white-curve {
  height: 100px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.fourth-section .container {
  position: relative;
  color: #fff;
  text-align: center;
  width: 734px;
  height: 312px;
}

.fourth-section .container .content-tittle {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: -6px;
}

.fourth-section .container .content-tittle h1 {
  padding: 50px;
  text-align: left;
  font-size: 64px;
  font-weight: 400;
  min-height: 64px;
  min-width: 601px;
  letter-spacing: 0;
  line-height: 77px;
}

.fourth-section .container .content-tittle p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  min-height: 52px;
  min-width: 734px;
  letter-spacing: 0;
  line-height: 32px;
}

.fifth-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fifth-section .container .first-content {
  margin-left: 100px;
}

.fifth-section .container .first-content h6 {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 0;
  min-width: 565px;
  min-height: 64px;
  text-align: left;
  margin-left: 145px;
}

.fifth-section .container .first-content .task-list li {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
  margin-left: 130px;
  list-style-type: none;
  padding: 30px;
  position: relative;
}

.fifth-section .container .first-content .task-list li::before {
  content: "";
  left: -3em;
  position: absolute;
  width: 56px;
  height: 54px;
  background-image: url("../images/check.png");
  background-size: contain;
  margin-right: 0.5em;
  margin-top: -9px;
}

.fifth-section .container .first-content .button-a {
  margin-top: 113px;
  margin-left: 126px;
}

.fifth-section .container .first-content .rectangular-box {
  width: 820px;
  height: 583px;
  border-radius: 20px;
}

.testimonials-section .star-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-section .star-container .star {
  width: 19px;
  height: 19px;
  margin: 6px;
}

.testimonials-section .third-container {
  text-align: center;
}

.testimonials-section .container .testimonial {
  text-align: center;
  padding: 50px;
  font-size: 64px;
  font-weight: 400;
  min-width: 352px;
  min-height: 64px;
  letter-spacing: 0;
  line-height: 77px;
}

.testimonials-section .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials-section .container ul li {
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
  list-style-type: none;
}

.testimonials-section .container ul li img {
  width: 5em;
  height: 5em;
  border: 5px;
  border-radius: 50%;
  margin-top: -4.5em;
}

.pricing-plan {
  background: #191e3e;
  color: #fff;
  text-align: center;
  min-height: 1319px;
}

.pricing-plan .pricing {
  padding: 50px;
  font-size: 64px;
  font-weight: 400;
  min-width: 826px;
  min-height: 64px;
  letter-spacing: 0;
  line-height: 77px;
  text-align: center;
}

.pricing-plan h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  min-width: 826px;
  min-height: 64px;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
}

.pricing-plan p {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  min-width: 763px;
  min-height: 52px;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
}

.pricing-plan .pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 120px 0 120px;
}

.pricing-plan .pricing-container .second-pricing-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing-plan .pricing-container .third-pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pricing-plan .pricing-container .pricing1 {
  border-radius: 10px;
  margin: 0 15px 0 15px;
  min-width: 440px;
  min-height: 731px;
}

.pricing-plan .pricing-container .pricing1 .level-1 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
  font-style: normal;
  min-height: 30px;
  min-width: 97px;
  font-weight: 300;
}

.pricing-plan .pricing-container .pricing1 .level-2 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
  font-style: normal;
  min-height: 30px;
  min-width: 97px;
  font-weight: 300;
}

.pricing-plan .pricing-container .pricing1 .level-3 {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 36px;
  font-style: normal;
  min-height: 30px;
  min-width: 97px;
  font-weight: 300;
}

.pricing-plan .pricing-container .pricing1 .first-pricing {
  font-weight: 300;
  font-size: 84px;
  line-height: 101px;
  letter-spacing: 0;
  min-height: 84px;
  min-width: 140px;
  font-style: normal;
  margin: -30px;
}

.pricing-plan .pricing-container .pricing1 .second-pricing {
  font-weight: 300;
  font-size: 84px;
  line-height: 101px;
  letter-spacing: 0;
  min-height: 84px;
  min-width: 140px;
  font-style: normal;
  margin: -30px;
}

.pricing-plan .pricing-container .pricing1 .third-pricing {
  font-weight: 300;
  font-size: 84px;
  line-height: 101px;
  letter-spacing: 0;
  min-height: 84px;
  min-width: 140px;
  font-style: normal;
  margin: -30px;
}

.pricing-plan .pricing-container .pricing1 .first {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  min-height: 20px;
  min-width: 190px;
  font-style: normal;
  margin: 32px 0 53px 0;
  background: #fff;
  color: #000000;
}

.pricing-plan .pricing-container .pricing1 .second {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0;
  min-height: 52px;
  min-width: 347px;
  font-style: normal;
  padding: 50px;
  margin-top: -50px;
  margin-bottom: -7px;
}

.pricing-plan .pricing-container .pricing1 .hex {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0;
  min-height: 20px;
  min-width: 190px;
  font-style: normal;
  margin: 32px 0 53px 0;
}

.pricing-plan .pricing-container .pricing1 .second-sec {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0;
  min-height: 52px;
  min-width: 347px;
  font-style: normal;
  padding: 50px;
  margin-top: -50px;
  margin-bottom: -7px;
}

.pricing-plan .pricing-container .pricing-level-1 {
  background: #fcfdff;
  color: #000000;
}

.pricing-plan .pricing-container .pricing-level-2 {
  background: #6837fa;
}

.pricing-plan .pricing-container .pricing-level-3 {
  background: #fcfdff;
  color: #000000;
}

.pricing-plan .pricing-container .pricing1 .text {
  color: #7e92ac;
}

.pricing-plan .pricing-container .pricing1 .button-b {
  margin: 40px 0 0 0;
}

.pricing-plan .pricing-container .pricing1 li {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
  margin-left: 100px;
  margin-top: -15px;
  list-style-type: none;
  padding: 10px;
  position: relative;
}

.pricing-plan .pricing-container .pricing1 li::before {
  content: "";
  left: -3em;
  position: absolute;
  width: 14px;
  height: 11px;
  background-image: url("../images/check-list.png");
  background-size: contain;
  margin-left: 50px;
  margin-top: 5px;
}

.faq h6 {
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
  min-width: 482px;
  min-height: 30px;
  margin-left: -170px;
  padding: 0;
  background: #fff;
}

.faq p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
  min-width: 538px;
  min-height: 64px;
  padding: 0;
  margin-left: -170px;
  margin-top: -65px;
}

.faq .container .faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.faq .container ul.faq-list li {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
  margin-left: 150px;
  margin-top: -15px;
  list-style-type: none;
  padding: 10px;
  position: relative;
}

.faq .container ul.faq-list li::before {
  content: "";
  left: -11em;
  position: absolute;
  width: 73px;
  height: 70px;
  background-image: url("../images/faq.png");
  background-size: contain;
  margin-left: -4px;
  margin-top: 62px;
}

.faq .container .faq-header {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  min-width: 800px;
  min-height: 64px;
  font-style: normal;
  padding: 50px;
}

.faq .container p.faq-desc {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  min-width: 763px;
  min-height: 52px;
  font-style: normal;
  margin: 0;
}

.drop-message h2 {
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  min-height: 64px;
  min-width: 470px;
  text-align: center;
}

.drop-message p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  min-width: 669px;
  letter-spacing: 0;
}

.drop-message .container {
  text-align: center;
}

.drop-message .container label {
  display: block;
}

.drop-message input.button {
  margin-top: 30px;
}

.drop-message .contact-form {
  width: 704px;
  margin: 0 58px 0 200px;
}

.drop-message .contact-form .email-holder {
  border-radius: 10px;
  height: 75px;
  background-color: #fcfdff;
  border: 1px solid #c3cce8;
  width: 100%;
  display: block;
  text-align: left;
  margin-top: 20px;
}

.second-fourth-section {
  background: #6837fa;
  position: relative;
  height: 629px;
}

.second-fourth-section .second-top-purple-curve {
  height: 400px;
  background-color: #6837fa;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.second-fourth-section .second-bottom-white-curve {
  height: 100px;
  background-color: #5b2aee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.second-fourth-section .container {
  position: relative;
  color: #fff;
  text-align: center;
  width: 734px;
  height: 312px;
  padding: 0;
}

.second-fourth-section .container .content-tittle {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: -6px;
  padding: 5px;
  margin-top: 40px;
}

.ending .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.ending .container h6 {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  min-height: 30px;
  min-width: 236px;
  text-align: left;
}

.ending .container .first-end-container p {
  color: #7E92AC;
}

.ending .container .first-end-container .first-end {
  color: #7E92AC;
}

.ending .container .second-end {
  margin-left: 190px;
}

.ending .container p {
  text-align: left;
}

.ending .container li {
  list-style-type: none;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  margin-left: 150px;
  text-align: left;
  padding: 8px;
}

.ending .container li a {
  text-decoration: none;
  color: #7E92AC;
}

.third-end-container .email-box {
  background: #fff;
}

.third-end-container .email-box .email {
  padding: 10px;
  min-width: 562px;
  min-height: 71px;
  border-style: none;
  border: 1px solid #7e92AC;
}

.third-end-container .email-box .subscribe {
  background: #FEB301;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 30px;
}

.social-icons .si-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5b2aee;
  color: #fff;
  border-radius: 50%;
  min-width: 61px;
  min-height: 60px;
  margin: 20px;
  text-decoration: none;
  list-style: none;
}

.social-icons .si-icon .fa {
  font-size: 16px;
}

.social-icons a {
  text-align: center;
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #5b2aee;
  color: #fff;
}

.footer-end .footer {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-end .footer li {
  margin: 15px;
}

.footer-end .footer li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.mobile-menu {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */