html,
body {
  height: 100%;
  width: 100%;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    height: 100%;
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.navbar {
  padding: 1em;
  color: #ffff;
  background: #6837fa;
  width: auto;
  max-width: 100%;
  display: block;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    width: auto;
  }

  a {
    text-decoration: none;
  }

  nav {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      display: none;
    }
  }

  .s-logo {
    img {
      width: 66.38px;
      height: 79.26px;
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 39px;
        height: 46.57px;
      }
    }

    span {
      font-weight: 600;
      font-size: 39px;
      min-height: 46px;
      min-width: 199px;
      color: #ffff;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        display: none;
      }
    }
  }

  ul.header {
    display: flex;
    color: #ffff;
    place-content: flex-end;
    margin-top: -20px;

    .register {
      background: #572bd9;
      min-width: 182px;
      min-height: 60px;
      border-radius: 10px;
      padding: 15px 44px 15px 44px;
    }

    li {
      list-style: none;
      cursor: pointer;
      a {
        padding: 1.5em;
        color: white;
      }
    }
  }
}

.container {
  margin: 0 auto;
  display: block;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 576px) {
    max-width: 100%;
  }
}

.first {
  margin-top: -54px;
  background: #6837fa;
  color: #fff;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  min-width: 1900px;
  min-height: 854px;
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    min-width: 376px;
    min-height: 478px;
    border-bottom-left-radius: 53% 10%;
    border-bottom-right-radius: 53% 10%;
  }

  .subhead-desc {
    padding: 5px;
    margin-top: -80px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-top: -100px;
      padding: 43px;
    }
  }
}

.subhead {
  text-align: center;
  font-weight: 300;
  font-size: 64px;
  margin-bottom: -6px;
  min-width: 871px;
  min-height: 64px;
  padding: 100px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    text-align: center;
    min-width: 226px;
    min-height: 57px;
    padding: 80px;
    font-size: 26px;
  }
}
p {
  text-align: center;
  margin-bottom: 51px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    text-align: center;
    min-width: 263px;
    min-height: 26px;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 300;
    margin-bottom: -8px;
  }
}
.laptop {
  padding: 50px;
  text-align: center;
  margin-top: -500px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    padding: 0;
    text-align: center;
    margin-top: -78px;
    margin-left: -12px;
    width: 424.84px;
    height: 300.23px;
  }
}
.inkyy {
  text-align: center;
  margin-top: -205px;
  padding: 50px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    display: none;
  }
}

.inkyy-group {
  display: none;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    display: block;
    text-align: center;
    padding: 36px;
    margin-top: -136px;
  }

  .inkyy-group1 {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin: 0 0 0 0;
    }
  }

  .inkyy-group2 {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-top: 30px;
    }
  }
}

.button-container {
  margin-top: 1em;
  margin: 0 auto;
  text-align: center;

  .get-it-now {
    margin-right: 22px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-right: -9px;
    }
  }

  .play-video {
    margin-left: 22px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      margin-right: -9px;
    }
  }
}
.play-video {
  background: #572bd9;
  margin-left: 22px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    margin: 0;
  }
}

.get-it-now {
  background: #ffdd33;
  margin-right: 22px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    margin: auto;
  }
}

.free-trial {
  background: #572bd9;
}

.main-button {
  min-height: 68px;
  min-width: 222px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding: 16px 36px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    min-width: 106px;
    min-height: 33px;
    padding: 10px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.second-section {
  background: #fbfcfe;
  text-align: center;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    min-height: 457px;
  }

  .why-us-subhead {
    padding: 50px;
    font-size: 64px;
    font-weight: 400;
    min-width: 462px;
    min-height: 64px;
    letter-spacing: 0;
    line-height: 77px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      padding: 30px;
      font-size: 26px;
      font-weight: 400;
      min-width: 188px;
      min-height: 26px;
      letter-spacing: 0;
      line-height: 31px;
    }
  }
  .second-section-dot {
    display: none;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      display: block;
      margin-left: 88px;
      margin-top: 23px;
      width: 28px;
      height: 6px;
    }
  }
  .why-us-subhead-desc {
    font-size: 20px;
    font-weight: 300;
    min-width: 584px;
    min-height: 52px;
    letter-spacing: 0;
    line-height: 32px;
    color: #7e92ac;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 12px;
      font-weight: 300;
      min-width: 302px;
      min-height: 26px;
      letter-spacing: 0;
      line-height: 14px;
      padding: 33px;
      margin-top: -56px;
    }
  }

  .second-section-container {
    display: flex;
    flex-direction: row;
    min-height: 1000px;
    min-width: 1920px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      min-width: 221px;
      min-height: 236px;
      justify-content: center;
    }
  }

  .why-us {
    margin: 16px;
    height: 431px;
    width: 414px;
    background: #fbfcfe;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      height: 236px;
      width: 221px;
    }

    &.active {
      box-shadow: 0px 20px 40px 0px rgba(36, 38, 114, 0.89);
    }

    .why-us-content {
      padding: 32px;
      background: #ffffff;
      margin: 0 -13px 0 -7px;
      border-radius: 20px;

      .why-us-img {
        text-align: left;
        width: 38.86px;
        height: 38.86px;
        margin-bottom: -49px;
        margin-top: 25px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          width: 19.18px;
          height: 15.37px;
          margin: 0;
        }
      }

      .why-us-desc {
        text-align: left;
        h6 {
          font-size: 30px;
          line-height: 36px;
          letter-spacing: 0;
          font-weight: initial;
          min-width: 198px;
          min-height: 30;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0;
            font-weight: initial;
            min-width: 99px;
            min-height: 15;
          }
        }

        p {
          text-align: left;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0;
          min-width: 229px;
          min-height: 94px;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            text-align: left;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0;
            min-width: 156px;
            min-height: 92px;
          }
        }
      }
    }
  }
}

.third-section {
  @media only screen and (min-width: 320px) and (max-width: 480px) {
  }
  .img-box {
    width: 812px;
    height: 583px;
    border-radius: 20px;
    margin-left: -248px;
    display: flex;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      display: grid;
      margin-left: 39px;
    }

    .img-box1 {
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 303px;
        height: 217px;
        margin-top: 46px;
      }
    }
  }

  .structure {
    display: block;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      width: 375px;
    }
    h6 {
      line-height: 77px;
      letter-spacing: 0;
      min-width: 587px;
      min-height: 64px;
      font-size: 36px;
      font-weight: 600;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        line-height: 31px;
        letter-spacing: 0;
        min-width: 238px;
        min-height: 26px;
        font-size: 26px;
        font-weight: 600;
        text-align: left;
        margin-top: 0;
        margin-bottom: -61px;
      }
    }

    p {
      line-height: 32px;
      letter-spacing: 0;
      min-width: 564px;
      min-height: 116px;
      font-size: 20px;
      font-weight: 300;
      text-align: left;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        line-height: 16px;
        letter-spacing: 0;
        min-width: 302px;
        min-height: 60px;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        margin-bottom: -52px;
        margin-left: -73px;
        padding: 70px;
      }
    }
  }
}

.fourth-section {
  background: #6837fa;
  position: relative;
  height: 629px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    height: 256px;
    width: 376px;
  }

  .top-purple-curve {
    height: 400px;
    background-color: #5b2aee;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      height: 227px;
      background-blend-mode: screen;
      background-size: 849.71px;
      background-color: #5b2aee;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      border-bottom-left-radius: 80% 20%;
      border-bottom-right-radius: 80% 20%;
    }
  }

  .bottom-white-curve {
    height: 221px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      background-color: #fff;
      bottom: -197px;
      border-top-right-radius: 70% 10%;
      border-top-left-radius: 70% 10%;
    }
  }

  .container {
    position: relative;
    color: #fff;
    text-align: center;
    width: 734px;
    height: 312px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      text-align: center;
      width: 376px;
      height: 256px;
    }

    p {
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      min-height: 52px;
      min-width: 734px;
      letter-spacing: 0;
      line-height: 32px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        min-height: 44px;
        min-width: 272px;
        letter-spacing: 0;
        line-height: 16px;
        padding: 52px;
        margin-top: -76px;
        margin-left: 10px;
        margin-bottom: -15px;
      }
    }

    .content-tittle {
      text-align: center;
      font-weight: 300;
      font-size: 36px;
      margin-bottom: -6px;

      h1 {
        padding: 50px;
        text-align: left;
        font-size: 64px;
        font-weight: 400;
        min-height: 64px;
        min-width: 601px;
        letter-spacing: 0;
        line-height: 77px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          padding: 20px;
          text-align: left;
          font-size: 26px;
          font-weight: 400;
          min-height: 26px;
          min-width: 244px;
          letter-spacing: 0;
          line-height: 31px;
          margin-left: 50px;
        }
      }
    }
  }
}

.fifth-section {
  display: inline-flex;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    width: 375px;
    display: grid;
  }

  .rectangular {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      display: none;
    }
  }

  .just-box {
    display: none;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      display: flex;
      width: 303px;
      height: 217px;
      border-radius: 10%;
      position: absolute;
      margin-left: 50px;
      margin-top: 20px;
    }
  }
  .container {
    .first-content {
      margin-left: 100px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        margin-left: -110px;
      }

      h6 {
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 0;
        min-width: 565px;
        min-height: 64px;
        text-align: left;
        margin-left: 145px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 26px;
          font-weight: 400;
          letter-spacing: 0;
          margin-bottom: 0;
          min-width: 229px;
          min-height: 26px;
          text-align: left;
          margin-left: 135px;
          margin-top: 260px;
        }
      }

      .task-list {
        li {
          font-size: 16px;
          font-weight: 300;
          text-align: left;
          letter-spacing: 0;
          margin-left: 130px;
          list-style-type: none;
          padding: 30px;
          position: relative;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            font-size: 12px;
            font-weight: 300;
            text-align: left;
            letter-spacing: 0;
            margin-left: 112px;
            list-style-type: none;
            padding: 20px;
          }

          &::before {
            content: "";
            left: -3em;
            position: absolute;
            width: 56px;
            height: 54px;
            background-image: url("../images/check.png");
            background-size: contain;
            margin-right: 0.5em;
            margin-top: -9px;
          }
        }
      }

      .button-a {
        margin-top: 113px;
        margin-left: 126px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          margin-top: 30px;
          margin-left: 135px;
        }
      }

      .rectangular-box {
        width: 820px;
        height: 583px;
        border-radius: 20px;
      }
    }
  }
}
.testimonials-section {
  .star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .star {
      width: 19px;
      height: 19px;
      margin: 6px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        width: 11px;
        height: 10px;
        margin: 1px;
      }
    }
  }

  .third-container {
    text-align: center;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      width: 28px;
      height: 6px;
      text-align: center;
      margin: -61px 0 10px 85px;
    }
  }

  .container {
    .testimonial {
      text-align: center;
      padding: 50px;
      font-size: 64px;
      font-weight: 400;
      min-width: 352px;
      min-height: 64px;
      letter-spacing: 0;
      line-height: 77px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        text-align: center;
        padding: 50px;
        font-size: 26px;
        font-weight: 400;
        min-width: 143px;
        min-height: 26px;
        letter-spacing: 0;
        line-height: 31px;
      }
    }
    ul {
      display: flex;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        margin: 0 0 0 -50px;
      }

      .picture {
        @media only screen and (min-width: 320px) and (max-width: 480px) {
          display: none;
        }
      }

      li {
        text-align: center;
        padding: 2em 1em;
        width: 80%;
        margin: 0 auto 5em auto;
        border-radius: 1em;
        list-style-type: none;

        h6 {
          @media only screen and (min-width: 320px) and (max-width: 480px) {
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            min-width: 183px;
            min-height: 15px;
            letter-spacing: 0;
            line-height: 18px;
          }
        }

        .cite {
          color: #7e92ac;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            min-width: 183px;
            min-height: 12px;
            letter-spacing: 0;
            line-height: 14px;
          }
        }

        blockquote {
          color: #7e92ac;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            min-width: 184px;
            min-height: 108px;
            letter-spacing: 0;
            line-height: 16px;
          }
        }

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          text-align: center;
          padding: 2em 1em;
          width: 80%;
          margin: 0 auto 5em auto;
          border-radius: 1em;
          list-style-type: none;
        }

        img {
          width: 5em;
          height: 5em;
          border: 5px;
          border-radius: 50%;
          margin-top: -4.5em;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            width: 46px;
            height: 46px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.pricing-plan {
  background: #191e3e;
  color: #fff;
  text-align: center;
  min-height: 1319px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    min-width: 376px;
    min-height: 780px;
  }
  .pricing {
    padding: 50px;
    font-size: 64px;
    font-weight: 400;
    min-width: 826px;
    min-height: 64px;
    letter-spacing: 0;
    line-height: 77px;
    text-align: center;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      padding: 50px;
      font-size: 26px;
      font-weight: 400;
      min-width: 198px;
      min-height: 57px;
      letter-spacing: 0;
      line-height: 31px;
      text-align: center;
    }
  }

  h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    min-width: 826px;
    min-height: 64px;
    letter-spacing: 0;
    text-align: center;
    font-style: normal;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    min-width: 763px;
    min-height: 52px;
    letter-spacing: 0;
    text-align: center;
    font-style: normal;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      min-width: 302px;
      min-height: 44px;
      letter-spacing: 0;
      text-align: center;
      font-style: normal;
      padding: 28px;
      margin-top: -50px;
    }
  }

  .pricing-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 120px 0 120px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      width: 242px;
      height: 423px;
      margin-left: 72px;
    }

    .second-pricing-container {
      position: relative;
      display: flex;
    }

    .third-pricing-container {
      display: flex;
      position: relative;
    }
    .pricing1 {
      border-radius: 10px;
      margin: 0 15px 0 15px;
      min-width: 440px;
      min-height: 731px;

      @media only screen and (min-width: 320px) and (max-width: 480px) {
        min-width: 242px;
        min-height: 474px;
      }

      .level-1 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 36px;
        font-style: normal;
        min-height: 30px;
        min-width: 97px;
        font-weight: 300;
      }

      .level-2 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 36px;
        font-style: normal;
        min-height: 30px;
        min-width: 97px;
        font-weight: 300;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 18px;
          letter-spacing: 0;
          line-height: 22px;
          font-style: normal;
          min-height: 18px;
          min-width: 58px;
          font-weight: 300;
          margin-bottom: 50px;
          margin-left: -40px;
        }
      }

      .level-3 {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 36px;
        font-style: normal;
        min-height: 30px;
        min-width: 97px;
        font-weight: 300;
      }

      .first-pricing {
        font-weight: 300;
        font-size: 84px;
        line-height: 101px;
        letter-spacing: 0;
        min-height: 84px;
        min-width: 140px;
        font-style: normal;
        margin: -30px;
      }

      .second-pricing {
        font-weight: 300;
        font-size: 84px;
        line-height: 101px;
        letter-spacing: 0;
        min-height: 84px;
        min-width: 140px;
        font-style: normal;
        margin: -30px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-weight: 300;
          font-size: 23px;
          line-height: 31px;
          letter-spacing: 0;
          min-height: 26px;
          min-width: 43px;
          font-style: normal;
          margin-left: -67px;
          margin-bottom: -26px;
        }
      }

      .third-pricing {
        font-weight: 300;
        font-size: 84px;
        line-height: 101px;
        letter-spacing: 0;
        min-height: 84px;
        min-width: 140px;
        font-style: normal;
        margin: -30px;
      }

      .first {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0;
        min-height: 20px;
        min-width: 190px;
        font-style: normal;
        margin: 32px 0 53px 0;
        background: #fff;
        color: #000000;
      }

      .second {
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0;
        min-height: 52px;
        min-width: 347px;
        font-style: normal;
        padding: 50px;
        margin-top: -50px;
        margin-bottom: -7px;
      }
      .hex {
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0;
        min-height: 20px;
        min-width: 190px;
        font-style: normal;
        margin: 32px 0 53px 0;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 12px;
          font-weight: 300;
          line-height: 14px;
          letter-spacing: 0;
          min-height: 12px;
          min-width: 116px;
          font-style: normal;
          margin-right: 35px;
        }
      }

      .second-sec {
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0;
        min-height: 52px;
        min-width: 347px;
        font-style: normal;
        padding: 50px;
        margin-top: -50px;
        margin-bottom: -7px;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 12px;
          font-weight: 300;
          line-height: 16px;
          letter-spacing: 0;
          min-height: 28px;
          min-width: 184px;
          font-style: normal;
          padding: 20px;
          margin-left: -35px;
        }
      }
    }

    .pricing-level-1 {
      background: #fcfdff;
      color: #000000;
    }

    .pricing-level-2 {
      background: #6837fa;
    }

    .pricing-level-3 {
      background: #fcfdff;
      color: #000000;
    }

    .pricing1 {
      .text {
        color: #7e92ac;
      }

      .button-b {
        margin: 40px 0 0 0;
      }
      li {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        letter-spacing: 0;
        margin-left: 100px;
        margin-top: -15px;
        list-style-type: none;
        padding: 10px;
        position: relative;
        color: #fff;

        @media only screen and (min-width: 320px) and (max-width: 480px) {
          font-size: 12px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0;
          min-width: 127px;
          font-style: normal;
          text-align: left;
          padding: 10px;
          margin-left: 50px;
        }

        &::before {
          content: "";
          left: -3em;
          position: absolute;
          width: 14px;
          height: 11px;
          background-image: url("../images/check-list.png");
          background-size: contain;
          margin-left: 50px;
          margin-top: 5px;
          color: #fff;

          @media only screen and (min-width: 320px) and (max-width: 480px) {
            ontent: "";
            left: -3em;
            position: absolute;
            width: 14px;
            height: 11px;
            background-image: url("../images/check-list.png");
            background-size: contain;
            margin-left: 20px;
            margin-top: 6px;
            color: #fff;
          }
        }
      }
    }
  }
}

.faq {
  h6 {
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0;
    min-width: 482px;
    min-height: 30px;
    margin-left: -170px;
    padding: 0;
    background: #fff;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0;
    min-width: 538px;
    min-height: 64px;
    padding: 0;
    margin-left: -170px;
    margin-top: -65px;
  }
  .container {
    .faq-container {
      display: flex;
      flex-direction: row;
    }
    ul.faq-list {
      li {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        letter-spacing: 0;
        margin-left: 150px;
        margin-top: -15px;
        list-style-type: none;
        padding: 10px;
        position: relative;

        &::before {
          content: "";
          left: -11em;
          position: absolute;
          width: 73px;
          height: 70px;
          background-image: url("../images/faq.png");
          background-size: contain;
          margin-left: -4px;
          margin-top: 62px;
        }
      }
    }
    .faq-header {
      text-align: center;
      font-size: 64px;
      font-weight: 400;
      letter-spacing: 0;
      min-width: 800px;
      min-height: 64px;
      font-style: normal;
      padding: 50px;
    }

    p.faq-desc {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0;
      min-width: 763px;
      min-height: 52px;
      font-style: normal;
      margin: 0;
    }
  }
}

.drop-message {
  h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
    min-height: 64px;
    min-width: 470px;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    min-width: 669px;
    letter-spacing: 0;
  }
  .container {
    text-align: center;

    label {
      display: block;
    }
  }

  input.button {
    margin-top: 30px;
  }

  .contact-form {
    width: 704px;
    margin: 0 58px 0 200px;

    .email-holder {
      border-radius: 10px;
      height: 75px;
      background-color: #fcfdff;
      border: 1px solid #c3cce8;
      width: 100%;
      display: block;
      text-align: left;
      margin-top: 20px;
    }
  }
}
.second-fourth-section {
  background: #6837fa;
  position: relative;
  height: 629px;

  .second-top-purple-curve {
    height: 400px;
    background-color: #6837fa;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .second-bottom-white-curve {
    height: 100px;
    background-color: #5b2aee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container {
    position: relative;
    color: #fff;
    text-align: center;
    width: 734px;
    height: 312px;
    padding: 0;

    .content-tittle {
      text-align: center;
      font-weight: 300;
      font-size: 36px;
      margin-bottom: -6px;
      padding: 5px;
      margin-top: 40px;
    }
  }
}

.ending {
  .container {
    display: flex;
    text-align: center;
    h6 {
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      min-height: 30px;
      min-width: 236px;
      text-align: left;
    }

    .first-end-container {
      p {
        color: #7e92ac;
      }
      .first-end {
        color: #7e92ac;
      }
    }

    .second-end {
      margin-left: 190px;
    }

    p {
      text-align: left;
    }

    li {
      list-style-type: none;
      text-decoration: none;
      list-style: none;
      cursor: pointer;
      margin-left: 150px;
      text-align: left;
      padding: 8px;

      a {
        text-decoration: none;
        color: #7e92ac;
      }
    }
  }
}
.third-end-container {
  .email-box {
    background: #fff;
    .email {
      padding: 10px;
      min-width: 562px;
      min-height: 71px;
      border-style: none;
      border: 1px solid #7e92ac;
    }

    .subscribe {
      background: #feb301;
      min-height: 72px;
      min-width: 219px;
      border-radius: 10%;
    }
  }
}
.social-icons {
  display: flex;
  padding: 10px;
  margin-top: 30px;

  .si-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #5b2aee;
    color: #fff;
    border-radius: 50%;
    min-width: 61px;
    min-height: 60px;
    margin: 20px;
    text-decoration: none;
    list-style: none;

    .fa {
      font-size: 16px;
    }
  }

  a {
    text-align: center;
  }
}

.footer-end {
  display: flex;
  justify-content: space-around;
  background: #5b2aee;
  color: #fff;
  .footer {
    list-style-type: none;
    display: inline-flex;
    li {
      margin: 15px;
      a {
        text-decoration: none;
        display: flex;
        color: #fff;
      }
    }
  }
}

.mobile-menu {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
